:root {
    --fallback-title-bar-height: 35px;
}

.draggable {
    app-region: drag;
}

.nonDraggable {
    app-region: no-drag;
}

.titleBarContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: calc(100% - var(--fallback-title-bar-height));
    display: flex;
    user-select: none;
    background-color:#254B85;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.titleBarContainer > span {
    margin: auto;
    padding: 0px 16px 0px 16px;
}

.titleBarContainer > input {
    flex: 1;
    margin: 8px;
    border-radius: 5px;
    border: none;
    padding: 8px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mainContent {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: var(--fallback-title-bar-height, 50px);
    overflow-y: scroll;
}

.overflowingDiv {
    height:200%;
    margin: 25px;
}